.container{
  &-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(212, 212, 212, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &-card{
      background-color: white;
      width: 40%;
      height: 40%;
      z-index: 1;
    }
  }
}
