<div class="container">

  <div class="container-info" *ngFor="let element of credit">

    <div class="row" *ngIf="credit">
      <div class="col-left">
        <h2>Credito {{element.id}}</h2>
        <p>{{element.customer.name}} {{element.customer.last}}</p>
        <p>{{element.value | currency : '$' : 'symbol' : '1.0-0' }}</p>
      </div>
      <div class="col-rigth">
        <div class="container-balance">
          <h2>Saldo Pendiente</h2>
          <p>200.000</p>
        </div>
      </div>
    </div>

    <div class="row">
      <app-payments [payments]="element.payment" (OutshowPayment)="getModal($event)"></app-payments>
    </div>

  </div>

  <div #modal class="container-modal" *ngIf="showModal">
    <div class="container-modal-card">
      <p>Modal</p>
      <button (click)="closeModal()">X</button>
    </div>
  </div>
</div>
