.container {
  width: 100%;
  min-height: 100%;
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2rem 0px;

  &-info {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1.5rem auto;
    width: 50%;
  }

  &-up {
    width: 100%;
    flex-direction: row;
    display: flex;

    .col{
      width: 50%;
      display: grid;

      &-right {
        text-align: center;
        background-color: #f1f1f1;
        margin: 2px 15px;
        border-radius: 0.5rem;

      }
    }
  }

  &-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(212, 212, 212, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
