<div class="container">

  <div class="container-info" *ngFor="let element of credit">

    <div class="container-up" *ngIf="credit">
      <div class="col col-left">
        <span class="text-title">Credito {{element.id}}</span>
        <span class="text-paragraph">{{element.customer.name}} {{element.customer.last}}</span>
        <span class="text-paragraph">{{element.value | currency : '$' : 'symbol' : '1.0-0' }}</span>
      </div>
      <div class="col col-right">
        <span class="text-title">Saldo Pendiente</span>
        <span class="text-paragraph">200.000</span>
      </div>
    </div>

    <hr>

    <div class="container-down">
      <app-payments [payments]="element.payment"></app-payments>
    </div>

  </div>

</div>
