/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
  width: 100%;
  min-height: 100vh;
}

.table {
  width: 100%;
  text-align: center;
}

.text {
  font-family: 'Roboto', sans-serif;

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &-paragraph {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
